<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">О нас</h2>
                    <h3 class="section-subheading text-muted">Краткая история наших достижений</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-2016</h4>
                                    <h4 class="subheading">Университет ПНИПУ</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Проведение научно-исследовательских работ по темам "Умного Города", "Интернета Вещей", анализа больших данных и пр. Апробация результатов на площадке iHouse. Поиски путей развития</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016-2017</h4>
                                    <h4 class="subheading">Большая разведка</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Участие в выставке проектов. Финалисты в категории Smart City. Прохождение акселерационной программы</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-2018</h4>
                                    <h4 class="subheading">GenerationS</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Пройден отбор GenerationS. Участие в очном интенсиве от федерального акселератора технологических стартапов. Презентация проекта в рамках Startup Tour</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Будь частью
                                    <br>нашей
                                    <br>истории!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
